[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    build,
    dist
    venv
    .venv
    ; Add your own custom exclusions here
    ; if the files or directories are
    ; beeing pushed to the repository