services:
  moodlemate:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./state:/app/state
      - moodlemate_logs:/app/logs
    restart: unless-stopped
    environment:
      - TZ=UTC
      - MOODLE_SESSION_FILE=/app/state/moodle_session.json

volumes:
  moodlemate_logs: