services:
  moodlemate:
    build:
      context: .
      dockerfile: Dockerfile
    user: "${HOST_UID:-1000}:${HOST_GID:-1000}"
    volumes:
      - ./state:/app/state
      - ./logs:/app/logs
    restart: unless-stopped
    environment:
      - TZ=UTC
      - MOODLE_SESSION_FILE=/app/state/moodle_session.json
