openai
configparser
requests>=2.32.2 # version pinned by Snyk to avoid a vulnerability
tiktoken
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability